<html lang="en">
    <head>
        <title>SweetTube - Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simple platform where you can create rooms, manage permissions and chat while watching YouTube videos synchronized with your friends.">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
        <link rel="stylesheet" href="/static/style/normalize.css">
        <link rel="stylesheet" href="/static/style/style.css">
    </head>
    <body>
        <audio class="audio-for-speech" src=""></audio>
        <div class="translate-tooltip-mtz hidden">
            <div class="header">
                <div class="header-controls">
                    <span class="sound-translate"></span>
                    <span class="settings"></span>
                </div>
                <div class="translate-icons">
                    <img class="from" src="">
                    <img class="arrow" src="chrome-extension://hiidjliailpkjeigakikbfedlfijngih/images/right-arrow.png">
                    <img class="to" src="">
                </div>
            </div>
            <div class="translated-text">
                <div class="words"></div>
                <div class="sentences"></div>
            </div>
        </div>
        <span class="translate-button-mtz hidden"></span>
        <header>
			<a href="/">
				<p align=center>SweetTube</p>
			</a>
		</header>
        <main>
            <article>
                <p class="title">Contact</p>
                <p>Information in accordance with Section 5 TMG</p>
                <p style="margin-bottom:0.3em">Benjamin Marchal</p>
                c/o Grosch Postflex #280<br>Emsdettener Straße 10<br>48268 Greven<br>Germany
                <p>E-Mail: r.yakimenko.73@gmail.com</p>
                <br><a href="/privacy">Privacy Policy</a>
                <p></p>
                <a href="/tos">Terms of Service</a>
            </article>
        </main>
        <footer>
            <div class="footer_wrapper">
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p>© Sync-Tube.ua 2020</p>
                    </div>
                </aside>
                <aside class="footer_social scrollFade shrink" fadeto="grow">
                    <div>
						<a href="https://discord.gg/3vMsnNSW" target="_blank">
							<img src="/static/images/discord_white.png">
						</a>
					</div>
					<div>
						<a href="https://www.instagram.com/hetero.sexuell/" target="_blank">
							<p>Instagram</p>
						</a>
                </aside>
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p><a href="/contact">Contact</a></p>
                        <p><a href="/tom">Terms of Service</a></p>
                        <p><a href="/privacy">Privacy Policy</a></p>
                    </div>
                </aside>
            </div>
        </footer>
    </body>
</html>