<html lang="en">
    <head>
        <title>SweetTube - Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simple platform where you can create rooms, manage permissions and chat while watching YouTube videos synchronized with your friends.">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
        <link rel="stylesheet" href="/static/style/normalize.css">
        <link rel="stylesheet" href="/static/style/style.css">
    </head>
    <body>
        <header>
			<a style="text-decoration: none;"href="/">
                <p style="text-align: center; font-size: 4em; padding-top: 3%;">SweetTube</p>
            </a>
		</header>
        <main>
            <article>
                <p class="title">Contact</p>
                <p>E-Mail: sweettube.2021@gmail.com</p>
                <p>Discord: https://discord.gg/mHb6RYv7pu</a></p>
                <br><a href="/privacy">Privacy Policy</a>
                <p></p>
                <a href="/tos">Terms of Service</a>
            </article>
        </main>
        <footer>
            <div class="footer_wrapper">
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p>© SweetTube.ua 2021</p>
                    </div>
                </aside>
                <aside class="footer_social scrollFade shrink" fadeto="grow">
                    <div>
                        <a href="https://discord.gg/mHb6RYv7pu">
                            <img src="/static/images/iconmonstr-discord-5.png">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/hetero.sexuell/">
                            <img src="/static/images/iconmonstr-instagram-15.png">
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/yakimenko73/SweetTube">
                            <img src="/static/images/iconmonstr-github-5.png">
                        </a>
                    </div>
                </aside>
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p><a href="/contact">Contact</a></p>
                        <p><a href="/tos">Terms of Service</a></p>
                        <p><a href="/privacy">Privacy Policy</a></p>
                    </div>
                </aside>
            </div>
        </footer>
    </body>
</html>