<html lang="en">
    <head>
        <title>SweetTube - Terms of Service</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simple platform where you can create rooms, manage permissions and chat while watching YouTube videos synchronized with your friends.">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
        <link rel="stylesheet" href="/static/style/normalize.css">
        <link rel="stylesheet" href="/static/style/style.css">
    </head>
    <body>
        <audio class="audio-for-speech" src=""></audio>
        <div class="translate-tooltip-mtz hidden">
            <div class="header">
                <div class="header-controls">
                    <span class="sound-translate"></span>
                    <span class="settings"></span>
                </div>
                <div class="translate-icons">
                    <img class="from" src="">
                    <img class="arrow" src="chrome-extension://hiidjliailpkjeigakikbfedlfijngih/images/right-arrow.png">
                    <img class="to" src="">
                </div>
            </div>
            <div class="translated-text">
                <div class="words"></div>
                <div class="sentences"></div>
            </div>
        </div>
        <span class="translate-button-mtz hidden"></span>
        <header>
			<a href="/">
				<p align=center>SweetTube</p>
			</a>
		</header>
        <main>
            <article>
                <p class="title">Terms of Service</p>
                <p>Every time you visit this website (<a href="/">https://sweet-tube.ua/</a>) or use its services, you accept the following conditions.</p>
                <h2>Privacy Policy</h2>
                <p>Before you continue using our website we advise you to read our privacy policy <a href="/privacy">https://sweet-tube.ua/privacy</a> regarding our user data collection. It will help you better understand our practices.</p>
                <h2>Accountability for content</h2>
                <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).</p>
                <h2>Links to Other Websites</h2>
                <p>Our web pages may contain links to third-party web sites or services that are not owned or controlled by us.</p>
                <p>We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
                <p>We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.</p>
                <h2>Copyright</h2>
                <p>Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.</p>
                <h2>YouTube API Services</h2>
                <p>We use YouTube API Services on our website to provide functionalities for embedded videos. YouTube Terms of Service can be found at</p>
                <a href="https://www.youtube.com/t/terms" target="_blank">https://www.youtube.com/t/terms</a>
                <p></p>
            </article>
        </main>
        <footer>
            <div class="footer_wrapper">
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p>© SweetTube.ua 2020</p>
                    </div>
                </aside>
                <aside class="footer_social scrollFade shrink" fadeto="grow">
                    <div>
						<a href="https://discord.gg/mHb6RYv7pu" target="_blank">
							<img src="/static/images/discord_white.png">
						</a>
					</div>
					<div>
						<a href="https://www.instagram.com/hetero.sexuell/" target="_blank">
							<p>Instagram</p>
						</a>
                </aside>
                <aside class="footer_side scrollFade shrink" fadeto="grow">
                    <div>
                        <p><a href="/contact">Contact</a></p>
                        <p><a href="/tos">Terms of Service</a></p>
                        <p><a href="/privacy">Privacy Policy</a></p>
                    </div>
                </aside>
            </div>
        </footer>
    </body>
</html>